<div class="jumbotron">
  <form class="form-horizontal" role="form">
    <div ng-controller="AdgroupsearchCtrl">
      <div class="form-group">
        <label for="active_group" class="col-sm-2 control-label">Group</label>
        <div class="col-sm-10">
          <select class="form-control" id="active_group" name="group" ng-model="selectedGroup" ng-options="group.value as group.label for group in groups" ng-change="change(selectedGroup)">
            <option value="">Select Group</option>
          </select>
        </div>
      </div>
      <script type="text/ng-template" id="statusModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title">{{statusModalTitle}}</h3>
        </div>
        <div class="modal-body">
          <table class="table table-striped" style="border: 1px solid black;">
            <thead>
              <tr>
                <th colspan="{{statusHeaders.length}}"><h3>Failed Updates</h3></th>
              </tr>
              <tr>
                <th ng-repeat="header in statusHeaders">{{header}}</th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="log in statusLogs">
                <td ng-repeat="header in statusHeaders" style="text-align:left">{{log[header]}}</td>
              </tr>
            </tbody>
          </table>          
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" ng-click="closeStatusModel()">Close</button>
        </div>
      </script>      
      <div class="form-group" ng-hide="!selectedGroup">
        <label class="col-sm-2 control-label" for="displayNameORemail">Search</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" name="displayNameORemail" id="displayNameORemail" ng-model="displayNameORemail" ng-minlength="3" ng-maxlength="15" placeholder="Display Name or Email address">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn-sm" ng-class="{'btn-info': displayNameORemail, 'btn-disabled': !displayNameORemail }" ng-click="searchDisplayNameOREmail(selectedGroup,displayNameORemail)" ng-disabled="!displayNameORemail"><span class="glyphicon glyphicon-search"></button>
        </div>
      </div>
      <script type="text/ng-template" id="searchDisplayNameOREmailContent.html">
        <div class="modal-header">
          <h3 class="modal-title">Search Results</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;NetID</div>
            <div class="col-md-4">&nbsp;&nbsp;&nbsp;Display Name</div>
            <div class="col-md-4">Department</div>
          </div>
          <accordion>
            <accordion-group ng-repeat="match in searchMatches">
              <accordion-heading>
                <div class="row">
                  <div class="col-md-2">{{match.usfedunetid[0]}}</div>
                  <div class="col-md-4">{{match.displayname[0]}}</div>
                  <div class="col-md-4">{{match.department[0]}}</div>
                  <button class="btn-xs btn-success pull-right" ng-click="addMemberFromSearchResults(searchGroup, match.usfedunetid[0], $event)"><span class="glyphicon glyphicon-ok"></span>&nbsp;Select Match</button>
                </div>                
              </accordion-heading>
              <table class="table table-striped" style="border: 1px solid black;">
                <thead>
                  <tr>
                    <th>Entry</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key,value) in match">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
          </accordion>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" ng-click="closeSearchResultsModel()">Close</button>
        </div>
      </script>
      <div class="form-group" ng-controller="GetadgroupmembersCtrl">
        <table class="table table-striped" style="border: 1px solid black;" ng-hide="!hasMembers()">
          <thead>
            <tr>
              <th colspan="3"><h3>Current Group Members</h3></th>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <th>NetID</th>
              <th>Display Name</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="member in members">
              <td><input type="checkbox" name="remove_member[]" ng-model="member.isChecked"/></td>
              <td style="text-align:left">{{member.netid}}</td>
              <td style="text-align:left">{{member.details.displayname[0]}}</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn-sm" ng-class="{'btn-danger': hasMembersCheckedForRemoval(members), 'btn-disabled': !hasMembersCheckedForRemoval(members) }" ng-disabled="!hasMembersCheckedForRemoval(members)" ng-hide="!hasMembers()" ng-click="removeMembers(selectedGroup,members)">Remove Users</button>
      </div>
    </div>
  </form>      
</div>

