<div class="jumbotron">
  <form class="form-horizontal" role="form">
    <div ng-controller="AdgroupsearchCtrl">
      <div class="form-group">
        <label for="active_group" class="col-sm-2 control-label">Group</label>
        <div class="col-sm-10">
          <select class="form-control" id="active_group" name="group" ng-model="selectedGroup" ng-options="group.value as group.label for group in groups" ng-change="change(selectedGroup)">
            <option value="">Select Group</option>
          </select>
        </div>
      </div>
      <script type="text/ng-template" id="statusModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title">{{statusModalTitle}}</h3>
        </div>
        <div class="modal-body">
          <table class="table table-striped" style="border: 1px solid black;">
            <thead>
              <tr>
                <th colspan="{{statusHeaders.length}}"><h3>Failed Updates</h3></th>
              </tr>
              <tr>
                <th ng-repeat="header in statusHeaders">{{header}}</th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="log in statusLogs">
                <td ng-repeat="header in statusHeaders" style="text-align:left">{{log[header]}}</td>
              </tr>
            </tbody>
          </table>          
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" ng-click="closeStatusModel()">Close</button>
        </div>
      </script>      
      <div class="form-group" ng-hide="!selectedGroup">
        <label class="col-sm-2 control-label" for="add_user">Add NetID</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" name="add_user" id="add_user" ng-model="addMember" ng-minlength="3" ng-maxlength="15">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn-sm" ng-class="{'btn-primary': addMember, 'btn-disabled': !addMember }" ng-click="addNewMember(selectedGroup,addMember)" ng-disabled="!addMember">Add</button>
        </div>
      </div>
      <div class="form-group" ng-controller="GetadgroupmembersCtrl">
        <table class="table table-striped" style="border: 1px solid black;" ng-hide="!hasMembers()">
          <thead>
            <tr>
              <th colspan="3"><h3>Current Group Members</h3></th>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <th>NetID</th>
              <th>CN entry</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="member in members">
              <td><input type="checkbox" name="remove_member[]" ng-model="member.isChecked"/></td>
              <td style="text-align:left">{{member.netid}}</td>
              <td style="text-align:left">({{member.details.cn[0]}})</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn-sm" ng-class="{'btn-danger': hasMembersCheckedForRemoval(members), 'btn-disabled': !hasMembersCheckedForRemoval(members) }" ng-disabled="!hasMembersCheckedForRemoval(members)" ng-hide="!hasMembers()" ng-click="removeMembers(selectedGroup,members)">Remove Users</button>
      </div>
    </div>
  </form>      
</div>

