<div class="jumbotron">
  <form class="form-horizontal" role="form">
    <div ng-controller="AdgroupsearchCtrl">
      <div class="form-group">
        <label for="active_group" class="col-sm-2 control-label">Group</label>
        <div class="col-sm-10">
          <select class="form-control" id="active_group" name="group" ng-model="selectedGroup" ng-options="group.value as group.label for group in groups" ng-change="change(selectedGroup)">
            <option value="">Select Group</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-hide="!selectedGroup">
        <label class="col-sm-2 control-label" for="add_user">Add NetID</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" name="add_user" id="add_user" ng-model="user.name" ng-minlength="3" ng-maxlength="10">
          <!-- ng-disabled="user.name" -->
        </div>
        <div class="col-sm-2">
          <!-- <input type="submit" value="Add" /> -->
          <button type="submit" class="btn-sm btn-primary" ng-click="alert(user.name)">Add</button>
        </div>
      </div>
      <div class="form-group">
        <table class="table table-striped" style="border: 1px solid black;" ng-hide="!hasMembers()">
          <thead>
            <tr>
              <th colspan="3"><h3>Current Group Members</h3></th>
            </tr>
            <tr>
              <th></th>
              <th>NetID</th>
              <th>CN entry</th>
            </tr>
          </thead>
          <tbody ng-controller="GetadgroupmembersCtrl">
            <tr ng-repeat="member in members">
              <td><input type="checkbox" name="remove_member[]" value="{{member.netid}}" ng-model="removalMember"/></td>
              <td style="text-align:left">{{member.netid}}</td>
              <td style="text-align:left">({{member.details.cn[0]}})</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- style="width: 550px; border: 1px solid black; margin: 10px; padding: 10px;" -->
      <div class="form-group">
        <div class="col-md-3">
          <button type="submit" class="btn-sm btn-danger" ng-hide="!hasMembers()">Remove Users</button>
        </div>
        <div class="col-md-9">
          
        </div>
      </div>
    </div>
  </form>      
</div>

